:root {
    --board-color: rgb(58, 121, 58);
    --card-color: whitesmoke;
    --card-border-color: cornflowerblue;
    --display-color: yellowgreen;
    --main-bg-color: #000;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    height: 100vh;
    margin: 0;
    width: 100vw;
}

.pg__main {
    align-items: center;
    background-color: var(--main-bg-color);
    display: flex;
    height: 100%;
    justify-content: center;
    /* width: 100%; */
}

.pg__board {
    background-color: var(--board-color);
    /* flex: 70%; */
    height: 70%;
    padding: 1rem;
    width: 55%;
    /* display: flex; */
    /* justify-content: center; */
}

.display__row {
    display: flex;
    justify-content: center;
    line-height: 3rem;
}

.pg__display {
    color: var(--display-color);
}

.pg__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.pg__card {
    background-color: var(--card-color);
    border: 1px solid var(--card-border-color);
    border-radius: .2rem;
    height: 9.5rem;
    margin: .8rem;
    width: 15%;
}

/* .one {
    background-color: dodgerblue;
    margin: 2px;
} */